---
blueprint:
  name: Light Watchdog
  description: |
    'This is a watchdog for lights that are triggered by motion,
    but due to a system restart not has turned off'
  domain: automation
  input:
    light:
      name: Light
      description: 'The light this watchdog will check'
      selector:
        entity:
          domain: light
    wait_time:
      name: Wait Time
      description: 'The time to wait until the light will be turned off'
      default: 120
      selector:
        number:
          min: 1
          max: 3600
          unit_of_measurement: seconds
          mode: slider
          step: 1
mode: restart

trigger:
  - platform: homeassistant
    event: start
  - platform: event
    event: automation_reloaded
condition:
  condition: state
  entity_id: !input light
  state: 'on'
action:
  - delay:
      seconds: !input wait_time
  - service: light.turn_off
    entity_id: !input light
