# Generic ignores
*.log
*.log.*
*.db
*.db-shm
*.db-wal
*.pyc
._*
__pycache__
*.jpg

# Directory (contents) ignores
config/.cloud
config/.storage
config/deps
config/ssh

# Specific file ignores
config/.uuid
config/core
config/ip_bans.yaml
config/known_devices.yaml
config/options.xml
config/secrets.yaml
config/zigbee.db
config/.google.token
config/google_calendars.yaml
config/www/remco.jpg
config/www/anne.jpg

# Ignore add-on files

# Ignore files created by IDE's
.vscode
.theia
.Trash*

# Specific keeps
!.gitkeep
