---
- id: outside_garden_lights
  alias: Outside - Garden Lights
  trigger:
    - platform: state
      entity_id: binary_sensor.backdoor
  mode: single
  action:
    - choose:
        - conditions:
            - condition: state
              entity_id: sun.sun
              state: below_horizon
            - condition: state
              entity_id: binary_sensor.backdoor
              state: 'on'
          sequence:
            - service: light.turn_on
              entity_id: light.garden_group
      default:
        - delay: 00:05:00
        - service: light.turn_off
          entity_id: light.garden_group
