---
- id: downstairs_climate
  alias: Downstairs - Climate
  trigger:
    - platform: homeassistant
      event: start
    - platform: event
      event_type: automation_reloaded
    - platform: state
      entity_id:
        - binary_sensor.frontdoor
        - binary_sensor.backdoor
  action:
    - choose:
        - conditions: 
            - condition: state
              entity_id: binary_sensor.frontdoor
              state: "off"
          sequence:
            - service: climate.set_hvac_mode
              data:
                entity_id: climate.woonkamer
                hvac_mode: heat
    - choose:
        - conditions: 
            - condition: state
              entity_id: binary_sensor.backdoor
              state: "off"
          sequence:
            - service: climate.set_hvac_mode
              data:
                entity_id: climate.woonkamer
                hvac_mode: heat
    - choose:
        - conditions:
            - condition: state
              entity_id: binary_sensor.backdoor
              state: "on"
              for:
                minutes: 5
          sequence:
            - service: climate.set_hvac_mode
              data:
                entity_id: climate.woonkamer
                hvac_mode: 'off'
    - choose:
        - conditions:
            - condition: state
              entity_id: binary_sensor.frontdoor
              state: "on"
              for:
                minutes: 5
          sequence:
            - service: climate.set_hvac_mode
              data:
                entity_id: climate.woonkamer
                hvac_mode: 'off'