---
- id: 3c0589ce-600b-450a-b852-83a85af0ef7b
  alias: Notify - Window Open
  trigger:
    - platform: homeassistant
      event: start
    - platform: event
      event_type: automation_reloaded
    - platform: state
      entity_id:
        - binary_sensor.main_bedroom_window_sensor
        - binary_sensor.santi_bedroom_window_sensor
        - binary_sensor.small_bedroom_window_sensor
        - binary_sensor.bathroom_window_sensor
  action:
    - choose:
        - conditions:
            - condition: state
              entity_id: person.annemarie
              state: not_home
            - condition: state
              entity_id: person.remco
              state: not_home
          sequence:
            - service: notify.mobile_app_in2023
              data:
                title: Window Open!!!
                message: " '{{ trigger.to_state.name }}' Is Open!!!"
